.comments-main-container {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

::-webkit-scrollbar {
	width: 0px;
}
.comments-inner-container {
	width: 95%;
}
.sortings-search-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 10px;
	z-index: 10;
}
.sorting-button-container {
	display: flex;
}
.sorting-button-container button {
	padding: 8px 10px 8px 10px;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	outline: none;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-container {
	display: flex;
	align-items: center;
	border: 3px solid #64748b;
	width: 300px;
	border-radius: 8px;
}
.search-input {
	height: 38px;
	width: 100%;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 500;
	padding-left: 6px;
	color: black;
	cursor: pointer;
	outline: none;
	border-width: 0px;
	border-radius: 8px;
	margin-left: 5px;
}

.comments-loader-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
}

.sorting-select-options {
	padding: 2px 15px 2px 15px;
	margin-left: 10px;
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 500;
	border-radius: 5px;
	color: #1f3d7a;
	border: 3px solid #1f3d7a;
}

/* Responsive Styles */

@media screen and (max-width: 450px) {
	.sortings-search-container {
		display: flex;
		flex-direction: column;
	}

	.sorting-button-container {
		width: 100%;
		display: flex;
		justify-content: space-between;
		column-gap: 20px;
	}
	.sorting-button-container button {
		margin-right: 0px;
	}
	.search-container {
		width: 100%;
		margin-top: 20px;
	}
	.comments-inner-container {
		width: 98%;
	}
}

.table-container {
	margin-top: 20px;
	background-color: #ffffff;
	max-height: calc(100vh - 200px);
	overflow-y: auto;
	scroll-behavior: smooth;
}

.table-styling {
	border-collapse: collapse;
	width: 100%;
	font-family: "Roboto";
	color: #0077b3;
}
.table-styling thead th {
	position: sticky;
	top: 0;
	background-color: #beb9b9;
	z-index: 10;
}

@media screen and (max-width: 768px) {
	.table-container {
		min-height: calc(100vh - 240px);
	}
}
@media screen and (max-width: 884px) {
	.table-container {
		min-height: calc(100vh - 208px);
	}
}
.cell-style {
	border: 1px solid #ccc;
	border-left-style: none;
	border-right-style: none;
	padding: 12px;
	text-align: left;
	vertical-align: top;
	word-break: break-word;
	white-space: normal;
}

.table-heading th:first-child {
	border-top-left-radius: 8px;
}

.table-heading th:last-child {
	border-top-right-radius: 8px;
}

.table-styling tbody tr {
	border-bottom: 2px solid #e3dfdf;
}

th {
	padding: 13px;
	font-size: 18px;
	font-weight: 500;
}

td {
	text-align: start;
	padding: 15px;
	font-size: 16px;
	font-weight: 400;
}

.table-styling th {
	background-color: #beb9b9;
}

.table-styling tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.table-styling tbody tr:nth-child(even) {
	background-color: #ffffff;
}

@media screen and (max-width: 450px) {
	.sorting-button-container {
		column-gap: 15px;
	}
	.table-container {
		width: 100%;
	}
	.cell-style {
		border: 1px solid #ccc;
		border-left-width: 0px;
		border-right-width: 0px;
		padding: 6px;
	}
	th {
		padding: 10px;
		padding-left: 6px;
		padding-right: 6px;
		font-size: 14px;
		font-weight: 400;
	}

	td {
		text-align: start;
		padding: 11px;
		padding-left: 6px;
		padding-right: 6px;
		font-size: 10px;
		font-weight: 300;
	}
}

@media screen and (max-width: 371px) {
	.comments-inner-container {
		width: 99%;
	}
	.table-container {
		width: 100%;
	}
	.cell-style {
		border: 1px solid #ccc;
		padding: 6px;
	}
	th {
		padding: 10px;
		padding-left: 2px;
		padding-right: 2px;
		font-size: 11px;
		font-weight: 400;
	}

	td {
		text-align: start;
		padding: 10px;
		padding-left: 2px;
		padding-right: 2px;
		font-size: 9px;
		font-weight: 300;
	}
}

.filtering-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 15px;
}
.comments-failure-view {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.not-fond-title {
	font-family: "Roboto";
	font-size: 24px;
	font-weight: 600;
}
.not-found-desc {
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 500;
}
.retry-button-style {
	padding: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: "Roboto";
	background-color: blue;
	color: #ffffff;
	border-radius: 5px;
	border-width: 0px;
	font-size: 22px;
	cursor: pointer;
	outline: none;
}
.no-data-image {
	width: 30%;
	height: 45vh;
}

.filtering-heading {
	font-size: 24px;
	font-weight: 600;
	font-family: "Roboto";
	color: #1f3d7a;
}

.pagination-controls {
	margin-left: 10px;
	color: #1f3d7a;
}

.pagination-controls button {
	margin-right: 8px;
	padding: 5px 8px 5px 8px;
	font-size: 16px;
	font-family: "Roboto";
	font-weight: 500;
	color: #1f3d7a;
}

.active-page {
	border: 3px solid #000;
	border-radius: 5px;
}

@media screen and (max-width: 450px) {
	.filtering-container {
		flex-direction: column;
		align-items: flex-end;
	}
	.filtering-heading {
		margin-bottom: 8px;
	}
	.pagination-controls {
		margin-top: 4px;
		margin-bottom: 15px;
	}
	.no-data-image {
		width: 50%;
		height: 45vh;
	}
}
